[submodule "b-hydro"]
	path = lib/b-hydro
	url = ../b-hydro.git
[submodule "threaded-library"]
	path = lib/threaded-library
	url = ../threaded-library.git
[submodule "s-hydro"]
	path = lib/s-hydro
	url = ../s-hydro.git
[submodule "v-hydro"]
	path = lib/v-hydro
	url = ../v-hydro.git
[submodule "MCAD"]
	path = lib/MCAD
	url = https://github.com/openscad/MCAD.git
[submodule "lib/Write.scad"]
	path = lib/Write.scad
	url = ../Write.scad.git
